.chat1 {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 12px;
}
#chat1__content {
  background-color: #ff7e34;
  color: white;
  padding: 10px 10px 10px 15px;
  width: 280px;
  border-top-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 10px;
}
#chat1__time {
  padding: 40px 2px 0 0;
  font-size: 9pt;
  color: gray;
}
.chat2 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
}
.chat2 img {
  width: 30px;
  border-radius: 50%;
  margin: 0 8px 13px 8px;
}
#chat2__content {
  background-color: #eaebef;
  padding: 12px 10px 12px 15px;
  width: 170px;
  border-top-right-radius: 20px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#chat2__time {
  font-size: 12px;
  padding: 27px 0 0 3px;
  color: gray;
}
.confirm {
  padding: 25px 15px 20px 20px;
  margin: 10px 10px 20px 10px;
  border: 2px solid var(--border-color);
  border-radius: 7px;
}
.confirm-day {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.confirm-day img {
  width: 15px;
  margin-right: 15px;
}
#confirm-set {
  padding: 3px 0 0 28px;
}
#alarm {
  color: gray;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
